// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here


.nav-link:hover {
  text-decoration: underline;
}

.jumbotron {
  background: url(../img/pirate-ship.jpg) no-repeat center;
  background-size: cover;
  height: 300px;
  border-radius: 0px;
}

.byline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.source {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 14px;
}

h1 {
  color: white;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 14px;
}

h3 {
  font-family: 'Shadows Into Light', cursive;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

footer {
  text-align: center;
  background-color: gray;
  margin: 20px;
}


